@import 'font-awesome';
@fa-font-path: "../fonts"; // font-awesome
@font-face {
  font-family: 'Ghostbusters';
  font-style: normal;
  font-weight: 400;
  src: local('Ghostbusters'), url(/fonts/GHOSTBUS.TTF);
}

html, body {
  background-color: #000330;
  color: #ffffff;
  height: 100%;
}

.center {
  text-align: center;
}

.jumbotron {
  background: no-repeat center center fixed url('/images/winston_ghostbuster_2800.jpg');
  background-size: cover;
  height: 600px;
  margin: 0;
  padding: 0;

  .container {
    z-index: 4;
    position: relative;

    .content {
      background-color: rgba(255, 255, 255, 0.2);
      margin-top: 50px;
      padding: 40px 20px;
      position: relative;
      text-shadow: 1px 1px #000000;

      .page-header {
        margin: 0 0 20px;
        h2 { margin-top: 0; }
      }

      .about-me-links {
        margin-top: 25px;
        text-align: center;

        a:link, a:hover, a:visited {
          color: inherit;
          text-decoration: none;
        }

        .fa {
          padding: 5px;
        }
      }
    }
  }

  .overlay {
    background-color: #000440;
    position: absolute;
    height: 600px;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    opacity: 0.6;
    z-index: 2;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.nav-container {
  background-color: #000440;
  border-bottom: 1px solid #dddddd;
  font-family: Cuprum;
  font-size: 16pt;
  text-align: center;
  width: 100%;
  z-index: 6;

  // Not currently used. Created this as a potential way of getting around some additional spacing that
  // was showing up at the bottom of the bar when using Bootstrap.
  //.link {
  //  display: inline-block;
  //  float: none;
  //  padding: 10px 15px;
  //  a {
  //    //padding: 50px;
  //  }
  //  a:hover, a:focus {
  //    background: #dddddd;
  //    background: -webkit-linear-gradient(#000440, #000440, #f0ad4e);
  //    border-radius: 0;
  //    border: none;
  //    color: #dddddd;
  //    text-decoration: none;
  //    text-shadow:3px;
  //  }
  //}

  .nav {
    display: inline-block;
    float: none;
    border-bottom: none;
    li > a:hover, li > a:focus {
      background: #91692f;
      background: -webkit-linear-gradient(#000440, #91692f, #000440);
      background: -o-linear-gradient(#000440, #91692f, #000440);
      background: -moz-linear-gradient(#000440, #91692f, #000440);
      background: linear-gradient(#000440, #91692f, #000440);
      border-radius: 0;
      border: none;
      color: #dddddd;
      text-shadow:3px;
    }
  }
}

.section-header {
  border-bottom: 1px solid #111111;
  color: #111111;
  font-family: 'Ghostbusters';
  margin: 10px -15px;
}

.workplace-description-box {
  padding: 30px 25px;
  h4 {
    .underline {
      border-bottom: 1px solid #111111;
      padding-bottom: 3px;
    }

  }
}

#education {
  background-color: #000330;
  //background: #121212;
  //background-color: #dddddd;
  //background: linear-gradient(115deg, #000000, rgba(177, 129, 11, 1), rgba(125, 17, 12, 0.6), #000000);
  color: #111111;
  padding-bottom: 25px;
  .section-header {
    color: #dddddd;
    border-bottom: 1px solid #dddddd;
    text-shadow: 0px 0px 10px rgb(177, 129, 11);
  }
  .purdue-box {
    //background: #91692f;
    background: radial-gradient(rgba(221,221,221,1), rgba(177, 129, 11, 0.6));
    //background: radial-gradient(rgba(255,255,255,0), rgba(177, 129, 11, 0.6));
  }
  .indiana-box {
    background: radial-gradient(rgba(221,221,221,1), rgba(125, 17, 12, 0.6));
    //background: radial-gradient(rgba(255,255,255,0), rgba(125, 17, 12, 0.6));
  }
}

#work-history {
  background-color: #dddddd;

  .image-background {
    background: no-repeat center center fixed url('/images/background-work-history.jpg');
    background-size: cover;
    padding-bottom: 25px;
  }
  .container {
    .section-header {
      background-color: #dddddd;
      margin-bottom: 0;
      margin-top: 25px;
      padding-top: 10px;

      h1 {
        padding-left: 3px;
      }
    }
  }
  .row {
    background-color: #dddddd;
  }
  //.row-bottom {
  //  margin-bottom: 25px;
  //}
  color: #111111;
  ul {
    //@extend .fa-ul
  }
}

#skills {
  background-color: #000330;
  color: #eeeeee;
  font-family: 'Open Sans';
  font-size: 14pt;
  padding-bottom: 25px;

  .container {
    .section-header {
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 0;
      margin-top: 25px;
      padding-top: 10px;

      h1 {
        color: #eeeeee;
      }
    }
  }

  .skill-list {
    background-color: #000AA0;
    font-size: 14pt;
    line-height: 1.7em;
    padding: 3px 15px;

    .fa {
      color: #ffff00;
    }
    .spacer {
      margin-right: 5px;
    }

    h3 {
      padding: 0 20px;

    }

    ul {
      padding: 10px 20px;
      list-style-type: none;
    }
  }
}

#copyright {
  border-top: 1px solid #dddddd;
  background-color: #000000;
  padding: 40px;
  text-align: center;
}