---
layout: default
title: Winston Kotzan's Official Homepage
---

.home-page-navigation
  .main-photo
    {% img images/home-photo.png %}
    %h1.title{ style: "font-family: Lobster;" } Winston Kotzan

  .nav-icon.github
    {% img bubble images/bubble.png %}
    {% img images/icon-github.png %}
    %p Github
    %ul
      %li
        %a{ href: 'https://github.com/wakproductions' } WAK Productions

  .nav-icon.blog
    {% img bubble images/bubble.png %}
    {% img images/icon-blog.png %}
    %p Blog
    %ul
      %li
        %a{ href: 'http://www.greenspudtrades.com/' } Latest Articles

  .nav-icon.contact
    {% img bubble images/bubble.png %}
    {% img images/icon-contact.png %}
    %p Contact
    %ul{ style: "left: -20px;" }
      %li
        %a.linkedin{href:"http://www.linkedin.com/profile/view?id=15710299", target:"_blank"}
      %li
        %a.twitter{href:"https://twitter.com/greenspudtrades", target:"_blank"}
      %li
        %a.googleplus{href:"https://plus.google.com/+WinstonKotzan", target:"_blank"}


%script{:type => "text/javascript", :src  => "javascripts/jquery.easing.1.3.js"}


-# This Javascript function is originally from http://tympanus.net/Tutorials/BubbleNavigation/#
:javascript
  $(function() {
      $('.nav-icon').hover(
      function () {
          var $this = $(this);
          var  width = '199px';
          var  height = '199px';
          var left = '-25px';
          if($this.hasClass('contact')) {
            width = '250px';
            height = '250px';
            left = '-35px';
          }
          $this.find('.bubble').stop().animate({
              'width'     :width,
              'height'    :height,
              'top'       :'-25px',
              'left'      :left,
              'opacity'   :'1.0'
          },500,'easeOutBack',function(){
              $(this).parent().find('ul').fadeIn(700);
          });
  
          $this.find('p').addClass('active');
      },
      function () {
          var $this = $(this);
          $this.find('ul').fadeOut(500);
          $this.find('.bubble').stop().animate({
              'width'     :'52px',
              'height'    :'52px',
              'top'       :'0px',
              'left'      :'0px',
              'opacity'   :'0.1'
          },5000,'easeOutBack');
  
          $this.find('p').removeClass('active');
      }
    );
  });