---
title: Winston Kotzan's Interactive Resume
stylesheet: /stylesheets/resume.css
---

.jumbotron
  .container
    .col-lg-offset-7.col-lg-5.content
      .page-header
        %h2 Hi, I'm Winston Kotzan
      .about-me-bio
        I'm a software engineer and geek with a passion for technology and the capital markets. At the age of 12,
        I wrote my first program in QBASIC on my Packard Bell 386 computer and have ever since been hooked on
        coding. Today I am a Ruby on Rails web developer with a career that has included working on Wall Street
        as a stock analyst, healthcare, and tech startups.
      .about-me-links
        =link_to 'https://www.linkedin.com/in/WinstonKotzan', target: '_blank' do
          %i.fa.fa-linkedin.fa-2x{ 'aria-hidden'=>"true" }
        =link_to 'https://www.github.com/wakproductions', target: '_blank' do
          %i.fa.fa-github.fa-2x{ 'aria-hidden'=>"true" }
        =link_to 'https://www.twitter.com/greenspudtrades', target: '_blank'  do
          %i.fa.fa-twitter.fa-2x{ 'aria-hidden'=>"true" }
        =link_to 'http://stackoverflow.com/users/1730536/winston-kotzan', target: '_blank'  do
          %i.fa.fa-stack-overflow.fa-2x{ 'aria-hidden'=>"true" }
        =link_to 'https://plus.google.com/+WinstonKotzan', target: '_blank'  do
          %i.fa.fa-google-plus.fa-2x{ 'aria-hidden'=>"true" }
  .overlay

:javascript
  $(function () {
    $('.jumbotron').height($(window).height());
    $('.jumbotron > .overlay').height($(window).height());
  })

-##navigation.nav-container
-#  %ul.nav.nav-tabs
-#    %li{ role: 'presentation' }
-#      =link_to("Education", '#education')
-#    %li{ role: 'presentation' }
-#      =link_to("Work History", "#workhistory")
-#    %li{ role: 'presentation' }
-#      =link_to("Projects", "#projects")
-#    %li{ role: 'presentation' }
-#      =link_to("Skills", "#skills")

#education
  .container
    .section-header
      %h1 Education
    .row
      .col-lg-6.center.workplace-description-box.purdue-box
        =image_tag('purdue-motion-p.png')
        %h4
          %span.underline &nbsp;&nbsp;&nbsp;Purdue University&nbsp;&nbsp;&nbsp;
        %h5 College of Technology
        %h5 Associate of Science, Computer Information Systems
      .col-lg-6.center.workplace-description-box.indiana-box
        =image_tag('iu-trident.png')
        %h4
          %span.underline &nbsp;&nbsp;&nbsp;Indiana University&nbsp;&nbsp;&nbsp;
        %h5 Kelley School of Business
        %h5 Bachelor of Science, Finance

#work-history
  .image-background
    .container
      .section-header
        %h1 Professional Experience
      .row
        .col-lg-3.center.workplace-description-box
          %h4
            Web Development<br />
            %span.underline &nbsp;&nbsp;&nbsp;Consultant/Engineer&nbsp;&nbsp;&nbsp;
          %h5 September 2016 - Present
          %h5 Indianapolis, IN
        .col-lg-9.workplace-description-box
          %p
            Collaborating with small companies to help build back-end technologies for new products.
          %ul
            %li Worked with several companies, developing Ruby on Rails based web applications for new products
            %li Provisioned and administered Linux servers via AWS for hosting Dockerized applications and databases
            %li Built API interfaces to extract large data sets, such as banking financials from Federal regulatory agencies
            %li Collaborated with teams that value enterprise-scale design patterns such as SOLID and clean architecture
          %p Technologies: Ruby on Rails, Postgres, MySQL, RSpec, Sidekiq, Capistrano, Ansible, Amazon Web Services (EC2, S3), Docker, Circle-CI, Github, Slack
          -# Follow the pattern: Principal backend systems/framework, front end frameworks, test suite, DB, deployment platform, CI-system, VCS, other systems
      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-avant-text.png', style: 'width:200px;margin-top:5px;'), 'http://www.avant.com', target: '_blank')
          %h4
            %span.underline Senior Software Engineer
          %h5 June 2015 - December 2017
          %h5 Chicago, IL
        .col-lg-9.workplace-description-box
          %p
            Avant was one of Chicago's fastest growing finance startups. The company offers an online lending
            platform that lowers the costs and barriers of borrowing loans for consumers. I worked on the 7-member
            agile loan servicing team who maintained the Ruby-driven back end accounting system for Avant's
            $3 billion loan portfolio.
          %ul
            %li Contributed to the redesign of Avant’s monolithic Ruby on Rails application into an API-based service architecture.
            %li Developed and added to public domain gems including Production Sampler and Actionizer.
            %li Took charge of project to redesign the accounting system for credit lines product, rectifying all prior accounting issues.
            %li Improved documentation for other developers by creating Wikis on system structure and domain knowledge-heavy workflows.
          %p Technologies: Ruby on Rails, Postgres, RSpec, Resque, Heroku, Amazon Web Services (S3), Solano CI, Circle-CI, Github, Hipchat, Pivotal Tracker
          -# Follow the pattern: Principal backend systems/framework, front end frameworks, test suite, DB, deployment platform, CI-system, VCS, other systems
      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-nextgear.png', style: 'width:200px;margin-top:5px;'), 'http://www.nextgearcapital.com', target: '_blank')
          %h4
            %span.underline Software Developer
          %h5 September 2013 - December 2013
          %h5 Indianapolis, IN
        .col-lg-9.workplace-description-box
          %p
            NextGear Capital, a division of COX Enterprises, provides inventory financing services for car dealers. Our
            development team worked on internal systems for the legal and customer service staff,
            and planned architecture for transitioning the company's existing .NET-based CRM system to a web based
            open source stack.
          %ul
            %li Performed full stack (front and back end) development as part of an Agile Ruby on Rails team.
            %li Gathered requirements and built infrastructure for new applications to access legacy SQL Server database.
            %li Created a document management and web based templating system for the legal department.
          %p Technologies: Ruby on Rails, HTML/CSS, Twitter Bootstrap, Javascript, JQuery, Rspec, Cucumber, Vagrant, SQL Server, Bitbucket, Balsamiq, Hipchat

      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-lunker.png', style: 'width:200px;margin-top:5px;'), 'http://www.lunker.com', target: '_blank')
          %h4
            %span.underline Co-founder & CTO
          %h5 May 2012 - December 2013
          %h5 Indianapolis, IN
        .col-lg-9.workplace-description-box
          %p
            Lunker is a startup social network for fishing enthusiasts. It was launched by me and co-founder Henry Graves
            after winning first place in the Startup Weekend Bloomington May 2012 competition. I performed all technical
            work on the website which included the full stack design, coding, and deployment.
          %ul
            %li Determined requirements based on potential user interactions, designed, and developed entire website Lunker.com.
            %li Converted the functional requirements and wireframes created by the product owner and UX designer into a working system.

          %p
            Technologies: Ruby on Rails 3.2, HTML/CSS, Twitter Bootstrap, Javascript, JQuery, Postgres, Heroku,
            Amazon Web Services (S3), Mandrill, Github

      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-fdb.png', style: 'height:60px;margin-top:5px;'), 'http://www.fdbhealth.com', target: '_blank')
          %h4
            %span.underline Implementation Specialist
          %h5 December 2010 - September 2013
          %h5 Indianapolis, IN
        .col-lg-9.workplace-description-box
          %p
            First Databank is the leading provider of pharmaceuticals data for the healthcare industry. The company's
            product consists of hundreds of tables of information including lookup tables for
            adverse interactions between drugs, drug allergy relationships, chemical properties, FDA labeling, dosage
            information, common prescriptions, clinical order system configurations, and pricing. The product can be
            accessed through relational data loaded into a database or via a Java or .NET API for applications. As an
            implementations specialist, I assisted healthcare clinical and IT professionals build medical applications
            that made use of this data.
          %ul
            %li
              Invented and coded a C#.NET software tool that automated the data load process for clients,
              reducing a cumbersome manual loading process from several weeks to several minutes.
            %li
              Led development of Go Live Med Orders, a data product for hospitals that allowed FDB's presciption database
              to be customized based on the hospital's formulary and loaded into MEDITECH CPOE systems.
            %li
              Acted as a technical liason for the sales team when talking to new clients, helping to close several large
              contracts.
            %li Worked with technical writing team to enhance product documentation based on customer feedback.

          %p
            Technologies/Skills: SQL (MS-Access, SQL Server, MySQL, Postgres, Oracle), C#.NET native Windows
            applications, Excel, interpersonal skills for working directly with clients

      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-allscripts.png', style: 'width:200px;margin-top:5px;'), 'http://www.allscripts.com', target: '_blank')
          %h4
            Enterprise Contracts<br />
            %span.underline &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manager&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %h5 August 2009 - December 2010
          %h5 Chicago, IL
        .col-lg-9.workplace-description-box
          %p
            Allscripts is one of the leading vendors of clinical information systems for hospitals and physicians. I began
            working at Allscripts as a contractor for a finance department auditing project and quickly was hired to work
            as a full time employee managing the enterprise contracts department.
          %ul
            %li As member of a 10 person team, audited $21 million of billings and helped recover ~$460k in erroneously unbilled and uncollected receivables.
            %li Performed analysis and interpretation of multi-million dollar contracts.
            %li Redesigned the business workflows within the finance department for recording enterprise contracts.
            %li Created Excel and Outlook VBA scripts for more efficient tracking of contractual milestones.
            %li Supervised three-person team of consultants and trained new billing analysts to take over revised processes.

          %p
            Technologies/Skills: Excel, VBA Scripting, knowledge of finance for contract interpretation and business process
            redesign

      .row
        .col-lg-3.center.workplace-description-box
          =link_to(image_tag('logo-leerink.png', style: 'width:200px;margin-top:5px;'), 'http://www.leerink.com', target: '_blank')
          %h4
            %span.underline Equity Research Associate
          %h5 June 2008 - March 2009
          %h5 New York, NY
        .col-lg-9.workplace-description-box
          %p
            Leerink is a specialty investment bank with a pure focus on the healthcare industry. In my first job after
            graduating with a finance degree, I performed equity research on 12 healthcare technology stocks. Knowledge
            of finance and software were both useful in this role. There was a great deal of on-the-job learning regarding
            the healthcare industry as I was quickly introduced to the cycle of Washington politics and legislation
            that drive healthcare administrative decisions.
          %ul
            %li Actively compiled industry knowledge and monitored news flow related to the healthcare sector.
            %li Participated in public and private conference calls with the executive teams of corporations.
            %li Built extensive financial models in Excel and wrote investment analysis reports on subject companies.
            %li Read proposed legislation on the HITECH Act and advised on the implications for "Meaningful Use" on healthcare IT.

          %p
            Technologies/Skills: Excel, knowledge of finance and capital markets

      .row.row-bottom
        .col-lg-3.center.workplace-description-box
          =image_tag('logo-cc-industries.png')
          %h4
            %span.underline Software Developer Intern
          %h5 Summer 2004 & 2005
          %h5 Chicago, IL
        .col-lg-9.workplace-description-box
          %p
            CC Industries is the financial holdings company and headquarters for the conglomerate started by the
            famed industrialist Colonel Henry Crown. As an intern within the central IT department, I worked on
            improving applications for internal use across all lines of business.
          %ul
            %li Conducted major redesign the company’s internal project management and support ticket website.
            %li In the second year, collaborated with a 4-person development team to expand and enhance the system.
            %li Worked across departments to gather requirements for software development projects.
            %li Wrote detailed documentation and diagrams for use by future teams.

          %p
            Technologies/Skills: ASP, MS-Access, SQL Server, DotNetNuke Content Management System, Visio


#skills
  .container
    .section-header
      %h1 Skills
    .row
      .col-lg-12.workplace-description-box
        I like the problem solving aspects of creating software. Computers are best at organizing data and I like
        directing my talents in working with data toward solving practical problems. I'm strongest in SQL and back-end
        system design, but can also do full stack web development and enjoy the encompassing task of building a
        website to perform a specific task.

    .row.skill-list
      .col-lg-6
        %h3 Web Technologies
        %ul
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            Ruby on Rails
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            SQL
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            HTML
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-half-full.spacer{ 'aria-hidden'=>'true' }
            CSS (SCSS)
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o.spacer{ 'aria-hidden'=>'true' }
            Twitter Bootstrap
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o.spacer{ 'aria-hidden'=>'true' }
            Javascript
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o.spacer{ 'aria-hidden'=>'true' }
            JQuery
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o{ 'aria-hidden'=>'true' }
            %i.fa.fa-star-o.spacer{ 'aria-hidden'=>'true' }
            UX/Design

      .col-lg-6
        %h3 Design Philosophies
        %ul
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            12-Factor Design
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            SOLID Design Concepts
        %h3 Business Skills & Tools
        %ul
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            Microsoft Excel
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            Documentation/Technical Writing
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            Knowledge of Finance & Capital Markets
          %li
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star{ 'aria-hidden'=>'true' }
            %i.fa.fa-star.spacer{ 'aria-hidden'=>'true' }
            Team Collaboration

#copyright
  .container
    .row
      .col-lg-12
        &copy; 2016 WAK Productions


  -# Say that the thing I like about teams is the sharing of knowledge.

  -#Back end technologies
  -#Front end technologies
  -#Complementary to technical skills
  -#5- core strength
  -#4- proficient
  -#3- comfortable working with
  -#2- familiar but looking to add experience
  -#1- familiar with concepts/played with in limited capacity


-#projects:
-#%ul
-#  %li Proprietary Equities Trader
-#  %li WAK Productions
-#  %li Mad Money
-#  %li This Is Not Your Father's Job Market


-#:javascript
-#  // Keep the navbar sticky at the top of the screen
-#  // source: http://stackoverflow.com/questions/2907367/have-a-div-cling-to-top-of-screen-if-scrolled-down-past-it
-#var $window = $(window),
-#     $stickyEl = $('#navigation'),
-#     elTop = $stickyEl.offset().top;
-#
-# $window.scroll(function() {
-#      $stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
-#  });
